{% extends 'auth.html' %}
{% block title %}
    Password Sent to Email
{% endblock title %}
{% block content %}
<h1 class="mb-4 pb-0"><span>Confirm Email</span> </h1>
{% with messages=get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
    {{message}}
</div>
{% endfor %}
{% endif %}
{% endwith %}
    <p class="mb-2 pb-0">Email sent successfully to {{email}}</p>
    <a href="/login" class="about-btn scrollto">Login</a>
{% endblock content %}